<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value="NMxHm9npKWDsfowttB4RcTgVJDca" />
    <add key="ClientSecret" value="3LdTVHw0VzC0_CoP36jjuWxXwy4a" />
    <add key="AuthorizationEndpoint" value="https://api.asgardeo.io/t/thivi/oauth2/authorize" />
    <add key="TokenEndpoint" value="https://api.asgardeo.io/t/thivi/oauth2/token" />
    <add key="UserInfoEndpoint" value="https://api.asgardeo.io/t/thivi/oauth2/userinfo" />
    <add key="LogoutEndpoint" value="https://api.asgardeo.io/t/thivi/oidc/logout" />
    <add key="RedirectURI" value="http://localhost:8080/pickup-manager/callback/" />
    <add key="PostLogoutRedirectURI" value="http://localhost:8080/pickup-manager/postlogout/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>  
    <add name="MyAppConnectionString" connectionString="Data Source=*server*\*instance*;Initial Catalog=*dbname*;Integrated Security=True;Pooling=False" />  
  </connectionStrings>  
</configuration>
