<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value="" />
    <add key="ClientSecret" value="" />
    <add key="Tenant" value="kfoneteam2" />
    <add key="RedirectURI" value="kfone://callback" />
    <add key="PostLogoutRedirectURI" value="kfone://callback" />
  </appSettings>
  <connectionStrings>  
    <add name="MyAppConnectionString" connectionString="Data Source=*server*\*instance*;Initial Catalog=*dbname*;Integrated Security=True;Pooling=False" />  
  </connectionStrings>  
</configuration>
